{{ define "head" }}

{{ partial "mathjax.html" }}

{{ with .Params.tikzjax }}
    {{ partialCached "tikzjax.html" $ }}
{{ end }}

<!-- Chroma Github theme CSS -->
<link rel="stylesheet" href="{{ "css/github_chroma.css" | relURL }}" type="text/css" />
{{ end }}

{{ define "main" }}

<div class="post">
    {{ partial "admin/menu.html" . }}
    <h1 class="post-title">{{ .Title }}</h1>

    <!-- Taxonomy debug -->
    {{ $page := . }}
    {{ with .Site.Taxonomies }}
        {{ range $key,$_ := . }}
            {{ with $page.Param $key }}
                {{ $val := . }}
                <p>
                    {{ printf `<span style="font-variant: small-caps;">%s</span>:` $key | safeHTML }}
                    {{ with site.GetPage "taxonomy" $key }}
                        {{ $taxonomy_page := . }}
                        {{ range $val }}
                            <a href="{{ printf "%s%s" $taxonomy_page.Permalink (. | urlize) }}">{{ . }}</a>
                        {{ end }}
                    {{ end }}
                </p>
            {{ end }}
        {{ end }}
    {{ end }}

    <p>
        {{ if .Params.draft }}
            <hr />
            <div style="text-align: center;"><h2>This is a Draft</h2></div>
            <hr />
        {{ end }}
    </p>

    <hr />
    <h3>Description/Summary</h3>
    {{ with .Description }}
        {{ . | $.Page.RenderString | emojify }}
    {{ else }}
    {{ end }}
    <hr />

    <h3>Content</h3>
    {{ .Content }}
        {{ with .Resources }}
            <hr />
            <h3 id="resources"></h3>
            <ul>
	        {{ range . }}
	            {{ if .RelPermalink }}
	                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	            {{ else }}
	                <li>{{ .ResourceType | title }} (no link, only embedded in page)</li>
	            {{ end }}
	        {{ end }}
            </ul>
        {{ end }}

        {{ with .Resources.ByType "page" }}
            <hr />
            <h3 id="sub-pages">Bundled Sub-pages</h3>
            {{ range . }}
                <h4>{{ .Title }}</h4>
                {{ .Content }}
            {{ end }}
        {{ end }}
</div>

{{ end }}
